---
import { SITE } from 'src/config';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import CardProject from '@components/CardProject.astro';
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="Check out what I've been up to.">
    <CardProject
      title="realtyflow"
      description="From leads to commissions, realtyflow automates every step of the real estate transaction to leverage your time and make your life easier."
      imgSrc="https://res.cloudinary.com/dsysvier5/image/upload/v1673093958/projects/realtyflow/realtyflow_hjjjnm.png"
      imgLink="https://realtyflow.co"
    />
  </Main>
  <Footer />
</Layout>
